{% extends 'base.html' %}

{% load static %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Products</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}}">Home</a></li>
              <li class="breadcrumb-item active">Clients</li>
                <li class="breadcrumb-item"><a href="/auth/logout/">Logout</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Maxsulot qo'shish</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15px">T/r</th>
                            <th scope="col" style="width: 255px; text-align: center;">Nomi</th>
                            <th scope="col" style="text-align: center;">Brendi</th>
                            <th scope="col" style="text-align: center;">Kelish narxi</th>
                            <th scope="col" style="text-align: center;">Sotilish narxi</th>
                            <th scope="col" style="text-align: center;">Miqdori</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>

                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ product.name }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{{ product.import_price }} so'm</td>
                            <td>{{ product.export_price }} so'm</td>
                            <td>{{ product.amount }}</td>
                            <td><a href="/mahsulotlar/{{ product.id }}/edit/"><button type="submit" class="btn btn-danger" data-toggle="modal">Tahrirlash</button></a></td>
                            <td><a href="/mahsulotlar/{{ product.id }}/delete/"><button type="submit" class="btn btn-danger" data-toggle="modal">O'chirish</button></a></td>

                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header bg-dark">
            <h4 class="modal-title">Yangi mahsulot</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <form method="post">
                {% csrf_token %}
            <div class="modal-body">
              <label for="new-product-name">Nomi:</label>
              <input type="text" name="name" placeholder="Mahsulot nomi..." id="new-product-name" class="form-control" required>
              <br>
              <label for="new-product-name">Brend:</label>
              <input type="text" name="brand" placeholder="Mahsulot brendi..." id="new-product-brend" class="form-control" required>
              <br>
              <label for="new-product-name">Narxi:</label>
              <input type="text" name="price1" placeholder="Maxsulot narxi..." id="new-product-price" class="form-control" required>
              <br>
                <label for="new-product-name">Sotish narx:</label>
              <input type="text" name="price2" placeholder="Maxsulot narxi..." id="product-price" class="form-control">
              <br>
              <label for="new-product-name">Miqdori:</label>
              <input type="number" name="amount" placeholder="Mahsulot miqdori..." id="new-product-amount" class="form-control" required>
              <br>
            </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Qo`shish</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
        </div>
      </form>

        </div>
      </div>
    </div>


  </div>

{% endblock %}